form {
    display: flex;
    flex-direction: column;
    width: 400px;
}
.row {
    display: flex;
    flex-direction: row;
    gap: 4px;
    flex-wrap: wrap;
}

.row > * {
    flex: 1 1 calc(25% - 4px); /* 4 items per row with gap */
    box-sizing: border-box;
}
.w-100 {
    width: 100%;
}
.grid {
    display: grid;
}
.col {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}
button, input {
    margin-block: 5px;
}
